.pokemon-card {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 250px;
  font-family: 'Poppins', sans-serif;

  &__image-container {
    position: relative;
    width: 250px;
    height: 250px;
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 16px;
  }

  &__button {
    position: absolute;
    bottom: -1rem;
    left: 20%;
    right: 20%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #374151;
    padding: 0.75rem 0;
    justify-content: center;
    border-radius: 25px;
    border: none;
    background: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: 2px solid #f4dc26;

    &:hover:not(:disabled) {
      transform: translateY(-4px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &:disabled {
      background: #e5e7eb;
      border-color: #e5e7eb;
      color: #9ca3af;
      cursor: not-allowed;
    }
  }

  &__content {
    padding: 2rem 1rem 1rem;
    text-align: left;
  }

  &__name {
    color: #1f2937;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 4px 0px;
  }

  &__info {
    color: #4b5563;
    font-size: 0.8rem;
    margin: 4px 0px;
    display: block;
  }
}